*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
header{
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}
h1{
    font-size: 24px;
    font-family: "DejaVu Sans";
}
.nav_auth{
    display: flex;
    gap: 50px;
}
.nav_auth > a:hover{
    color: rgba(0, 0, 0, 0.89);
    transform: translateY(-3px);
}
.nav_auth > a:active{
    color: rgba(0, 0, 0, 0.48);
    transform: none;
}
a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 20px;

}
.container_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.post_li{
    font-size: 24px;
    font-family: monospace;
}
.title_message{
    font-size: 24px;
    font-family: monospace;
}
.label{
    padding: 12px 20px;
    border-bottom: #729969;
}
.input{
    border: none;
    font-size: 24px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px 20px;
    color: white;
    outline: none;
    transition: 0.3s;
}
.input:hover{
    background-color: rgba(0, 0, 0, 0.85);
}
.input:focus{
    background-color: rgba(0, 0, 0, 0.85);
}
h2{
    text-align: center;
    background-color: black;
    width: 30%;
    font-size: 30px;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
.auth_button{
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #ffffff;
    font-size: 32px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 5px 15px 5px rgba(0, 0, 0, 0.83);
}
.auth_button:hover{
    background-color: rgba(0, 0, 0, 0.08);
    transform: translateY(3px);
    box-shadow: 5px 5px 5px black;
}
.auth_button:active{
    background-color: #000000;
    color: white;
    transform: translateY(3px);
    box-shadow: 5px 5px 5px black;
}
.form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: 3px solid #000000;
    padding: 50px 20px;
    border-radius: 20px;
    width: 80%;
}

.nav_title{
    display: flex;
    text-decoration: none;
    font-size: 24px;
    color: #000000;
    align-items: center;
}
.input::placeholder{
    color: rgba(255, 255, 255, 0.43);
    font-size: 20px;
}

.label_radio{
    font-size: 24px;
}
.avatar{
    display: flex;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: black;
    color: white;
    transition: 0.3s;
}
.avatar:hover{
    color: #ffffff;

}